[Unit]
Description=Apagar PC (entre semana y fines de semana)

[Timer]
OnCalendar=Mon..Fri 22:40
OnCalendar=Sat,Sun 23:00
Persistent=true

[Install]
WantedBy=timers.target
